#mainDiv {
    font-size: 0.9em;
    width: 350px;
    /* padding: 6px; */
    /* border: 1px solid black; */
    /* -webkit-transition: all 3s cubic-bezier(1, 0, 0, 1); */
    /* transition:         all 3s cubic-bezier(1, 0, 0, 1); */
}
.clearable{
  background: #fff url(https://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */

div#convDiv {
    width: 100%;
    height: auto;
    min-height: 100px;
    max-height: 500px;
    border: 1px solid gray;
	border-radius: 3px;
    overflow-y: auto;
    padding-bottom: 7px;
    -webkit-transition: all 3s cubic-bezier(1, 0, 0, 1);
    transition: all 3s cubic-bezier(1, 0, 0, 1);
}

div.imgContainer {
	width: auto;
	height: auto;
	overflow: hidden;
}

div.msgRowDiv {
    width: 100%;
    clear: both;
}

p.fromMe {
    box-shadow: 5px 5px 10px rgba(0, 0, 64, 0.3);
    float: right;
    max-width: 200px;
    text-align: left;
    padding: 6px;
    color: #000080;
    background-color: #DDDDFF;
    border: 1px solid blue;
    border-radius: 11px 11px 1px 11px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow-wrap: break-word;
    transition: all 0.5s ease;
}

p.fromMe:hover {
    box-shadow: 7px 7px 12px rgba(0, 0, 128, 0.6);
    background-color: rgba(221, 221, 255, 0.7);
    border: 1px solid black;
    /* transform: translateX(-1px) translateY(-1px); */
}

p.toMe {
    height: auto;
    box-shadow: -5px 5px 10px rgba(0, 0, 64, 0.3);
    float: left;
    max-width: 200px;
    width: auto;
    text-align: left;
    padding: 6px;
    color: #000080;
    background-color: #DDFFDD;
    border: 1px solid green;
    border-radius: 11px 11px 11px 1px;
    margin-left: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow-wrap: break-word;
    transition: all 0.5s ease;
}

p.toMe:hover {
    box-shadow: -7px 7px 12px rgba(0, 128, 0, 0.6);
    background-color: rgba(221, 255, 221, 0.7);
    border: 1px solid black;
    /* transform: translateX(1px) translateY(-1px); */
}

input {
    border: 1px solid #adadad;
    width: 100%;
    padding: 5px 5px;
    border-radius: 3px;
    background-color: #f8f8f8;
    margin: 10px;
}

input:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.mmsAudio {
    max-width: 100%;
    color: #ddffdd;
    background-color: #ddffdd;
}

img {
    max-width: 100%;
    height: auto;
    filter: blur(15px) brightness(0.8);
	transform: scale(1.3);
    border: solid 1px gray;
    transition: all 0.3s;
}

img:hover {
	filter: blur(0px) brightness(1.0);
	transform: scale(1.0);
	border: solid 1px black;
}

.timeLabel {
    font-style: italic;
    font-size: 0.7em;
}
